footer{
    height: 180px;
    width: 100%;
    background-color: #F8F8F8;
   
}

.footer__info{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    padding-top: 2%;
}

.footer__logo{
    display: flex;
    padding-top: 10px;
    width: 42px;
    height: 42px;
}

.footer__line{
    width: 80%;
    height: 2px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 1.5%;
    background-color: #C4C4C4;
}

.footer__info p{
    font-family: 'Mulish', sans-serif;
    color: #B8BECD;
}

.social-media__img{
    margin-left: 42%;
    margin-right: 42%;
    width: 16%;
    height: auto;
}

@media (max-width: 1024px) {
    .social-media__img{
        transform: scale(1.2);
    }

}
@media (max-width:768px) {
    footer{
        height: 120px;
    }
    .social-media__img{
        transform: scale(1.6);
    }
}

@media (max-width:500px) {
    .social-media__img{
        transform: scale(4);
    }
    footer{
        height: 160px;
    }
    .footer__info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__info p{
        font-size: 15px;
    }
}
@media (max-width:2560px) and (min-width:2559px){
    .footer__logo, .footer__info p{
        transform: scale(1.5);
    }
    footer{
        height: 200px;
    }
    .footer__line {
        width: 1810px;
        height: 2px;
    }
}

