header{
    width: 85%;
    height: 650px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    position: relative;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    flex: 2;
    width: 30px;
    height: 30px;
    padding:0px ;
}

.nav-list li:first-child{
   color: #202336;
}

nav li{
    font-family: 'Mulish', sans-serif;
    color: #B8BECD;
}

.nav-item{
padding: 10px;
}

.authentication{
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: center;
}

.login{
    margin-right: 20px;
    padding: 8px 35px;
    border: 1px solid orange;
    border-radius: 5px;
}

.login a{
    color: orange;
}

.register{
    margin-right: 20px;
    padding: 8px 35px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
}

.register a{
    color: white;
}

.circle-1{
    height: 41px;
    width: 41px;
    background-color: rgb(95, 190, 95);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-2{
    height: 15px;
    width: 15px;
    border: 4px solid white;
    background-color: orange;
    border-radius: 100px;
}

.logo{
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    flex: 2;
    width: 42px;
    height: 42px;
}

.guides{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 70px;
    left: 0;
}

.guides__title{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin-bottom: 20px;
    width: 400px;
}

.guides__content{
    font-family: 'Mulish', sans-serif;
    color: #B8BECD;
    width: 400px;
    font-size: 19px;
}

.button-download{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    width: 160px;
    height: 43px;
    margin-top: 30px;
}

.button-download a{
    color: white;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

.thousand{
    position: absolute;
    bottom: 0;
    right: 170px; 
}