@import "./header.css";
@import "section-testimonials.css";
@import "section-tranding.css";
@import "footer.css";

body{
    background-color: white;
    max-width: 2560px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}



@media (max-width: 2560px) and (min-width:2559px){
    .contanier{
        display: block;
        max-width: 2162px;
        margin: 0 auto;
        width: 100%;

    }
}
